@font-face {
  font-family: gt-flexa;
  src: url(../fonts/GT-Flexa-Light-Trial.woff2),
    url(../fonts/GT-Flexa-Light-Trial.woff);
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: gt-flexa;
  src: url(../fonts/GT-Flexa-Bold-Trial.woff2),
    url(../fonts/GT-Flexa-Bold-Trial.woff);
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: gt-flexa-mono;
  src: url(../fonts/GT-Flexa-Mono-Light-Trial.woff2),
    url(../fonts/GT-Flexa-Mono-Light-Trial.woff);
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: gt-flexa-mono;
  src: url(../fonts/GT-Flexa-Mono-Regular-Trial.woff2),
    url(../fonts/GT-Flexa-Mono-Regular-Trial.woff);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: gt-flexa-mono;
  src: url(../fonts/GT-Flexa-Mono-Medium-Trial.woff2),
    url(../fonts/GT-Flexa-Mono-Medium-Trial.woff);
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: gt-flexa-mono;
  src: url(../fonts/GT-Flexa-Mono-Medium-Italic-Trial.woff2),
    url(../fonts/GT-Flexa-Mono-Medium-Italic-Trial.woff);
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: gt-flexa-mono;
  src: url(../fonts/GT-Flexa-Mono-Bold-Trial.woff2),
    url(../fonts/GT-Flexa-Mono-Bold-Trial.woff);
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: mont;
  src: url(../fonts/Mont-Light.woff2),
    url(../fonts/Mont-Light.woff);
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: mont;
  src: url(../fonts/Mont-Regular.woff2),
    url(../fonts/Mont-Regular.woff);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: mont;
  src: url(../fonts/Mont-RegularItalic.woff2),
    url(../fonts/Mont-RegularItalic.woff);
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: mont;
  src: url(../fonts/Mont-SemiBold.woff2),
    url(../fonts/Mont-SemiBold.woff);
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: mont;
  src: url(../fonts/Mont-SemiBoldItalic.woff2),
    url(../fonts/Mont-SemiBoldItalic.woff);
  font-weight: 600;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: mont;
  src: url(../fonts/Mont-Bold.woff2),
    url(../fonts/Mont-Bold.woff);
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: mont;
  src: url(../fonts/Mont-BoldItalic.woff2),
    url(../fonts/Mont-BoldItalic.woff);
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: montserrat;
  src: url(../fonts/Montserrat-SemiBold.woff2),
    url(../fonts/Montserrat-SemiBold.woff);
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}