<div class="burger" style="background-image: url(images/bg-buger.jpg);">
  <div class="burger__left">
    <div class="logo">
      <a class="logo__link" href="#!">
        <img class="logo__img" src="images/logo.svg" alt="logo">
      </a>
    </div>
    <div class="burger__title">
      <span>LIvE.</span>
      <span>ENJOY.</span>
      <span>INVEST.</span>
    </div>
  </div>
  <div class="burger__right">
    <button class="burger__close">
      <span class="burger__close-line"></span>
      <span class="burger__close-line"></span>
    </button>
    <div class="header__btns">
      <a class="btn--social" href="#!">
        <img src="images/icons/whatsapp.svg" alt="whatsapp">
      </a>
      <button class="btn--language">
        <span>en</span>
      </button>
      <button class="dark-mode-btn">
        <img class="dark-mode" src="images/moon.svg" alt="dark-mode">
        <span class="dark-mode-circle"></span>
        <img class="light-mode" src="images/sun.svg" alt="light-mode">
      </button>
    </div>
    <div class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a class="nav__link" href="#!">Villas</a></li>
        <li class="nav__item"><a class="nav__link" href="#!">Apartments</a></li>
        <li class="nav__item"><a class="nav__link" href="#!">Architecture</a></li>
        <li class="nav__item"><a class="nav__link" href="#!">Features</a></li>
        <li class="nav__item"><a class="nav__link" href="#!">Pandawa River Surf</a></li>
        <li class="nav__item"><a class="nav__link" href="#!">Ecolit technology</a></li>
        <li class="nav__item"><a class="nav__link" href="#!">Advantages of project</a></li>
        <li class="nav__item"><a class="nav__link" href="#!">Seismic protection</a></li>
        <li class="nav__item"><a class="nav__link" href="#!">Invest model</a></li>
        <li class="nav__item"><a class="nav__link" href="#!">Location</a></li>
        <li class="nav__item"><a class="nav__link" href="#!">Contact us</a></li>
      </ul>
    </div>
    <a class="btn--burger" href="#!">
      Send request
    </a>
  </div>
</div>