<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="nav">
        <ul class="nav__list">
          <li class="nav__item"><a class="nav__link" href="#!">Villas</a></li>
          <li class="nav__item"><a class="nav__link" href="#!">Apartments</a></li>
          <li class="nav__item"><a class="nav__link" href="#!">Architecture</a></li>
          <li class="nav__item"><a class="nav__link" href="#!">Features</a></li>
          <li class="nav__item"><a class="nav__link" href="#!">Pandawa River Surf</a></li>
          <li class="nav__item"><a class="nav__link" href="#!">Ecolit technology</a></li>
          <li class="nav__item"><a class="nav__link" href="#!">Advantages of project</a></li>
          <li class="nav__item"><a class="nav__link" href="#!">Seismic protection</a></li>
          <li class="nav__item"><a class="nav__link" href="#!">Invest model</a></li>
          <li class="nav__item"><a class="nav__link" href="#!">Location</a></li>
          <li class="nav__item"><a class="nav__link" href="#!">Contact us</a></li>
        </ul>
      </div>
      <div class="footer__content">
        <div class="logo">
          <a class="logo__link" href="#!">
            <img class="logo__img" src="images/logo.svg" alt="logo">
          </a>
        </div>
        <a class="contacts__link location__link" href="#!">
          <img class="contacts__icons" src="images/icons/location.png" alt="icon">
          <span>Jl.Karang Pandawa № 8 Kutuh Kuta Selatan, Badung, Provinsi Bali, Kode Pos: 80361</span>
        </a>
        <a class="contacts__link phone__link" href="tel:+6282235372572">
          <img class="contacts__icons" src="images/icons/whatsapp.svg" alt="icon">
          <span>+62 822-3537-2572</span>
        </a>
      </div>
    </div>
  </div>
</footer>
</div>
<script defer src="libs/jarallax/jarallax.js"></script>
<script defer src="libs/wowjs/wow.js"></script>
<script defer src="js/main.js"></script>
<script type="module">

  
</script>
</body>

</html>